<!-- <mat-toolbar>
  <span>EXL</span>
</mat-toolbar> -->



<mat-toolbar>
  <!-- <img src="./assets/images/Logo.png" alt="logo" class="nav-logo"/> -->
  <span class="example-spacer"></span>
  <div class="menu-container" >
    <!--Home button-->
    <!-- <button mat-button id="HOME"  (click)="gotoHomePage()">Home</button> -->
    <!-- <mat-icon class="dropbtn"(click)="gotoHomePage()">home</mat-icon> -->
    <a class="logo-img" >
      <img class="nav-logo-img" src="assets/exl_logo_rgb.png" alt="logo">
    </a>
  </div>



</mat-toolbar>
